<%= render 'books/list', book: @book_new, user: @user %>　<!--共通レイアウト(違うフォルダの為パス記入欄に「books/」を追加してる-->

<h1>Users</h1>
  <% @users.each do |user| %>
    <div>
      <!--＜%= image_tag book.get_image %>-->
      <p><%= image_tag user.get_profile_image(100,100) %> </p>
      <p><%= user.name %></p>
      <p><%= link_to "Show", user_path(user.id) %></p>
    </div>
  <% end %>